@font-face {
font-family: "cursiva";
src: url("../letras/DancingScript-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "sombreada";
  src: url("../letras/BungeeShade-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "gordita";
  src: url("../letras/RubikMoonrocks-Regular.ttf") format("truetype");
}

body{
  background-color: #566573;
}
h1{
  font-family: "gordita";
  color: #76D7C4 ;
  font-size: 60px;
  display: flex;
  justify-content: center;

}

}
.cardss{ display: flex;
  flex-wrap: wrap;
  }
  .dire{
    display: flex;
    align-items: center;

  }
input, textarea{
  display: flex;
  justify-content: center;
}
  button:hover{
    font-size:10px;
       font-weight:bold;
       color:white;
       background:#76D7C4;
       border:0px;
       width:150px;
       height:150px;
  }
  /*button:hover{
    color:#76D7C4;
    width: 150px;
    height: 120px;
  }*/
nav{
  font-family: "cursiva";
  display: flex;
  justify-content: space-around;
}
.carrousel{
  background-color: #F7DC6F;
display: flex;
justify-content: space-between;
    /*min-height: 180px; Prevent carousel from being distorted if for some reason image doesn't load */
}
.carrousel-item{
  display: flex;
  justify-content: center;
  background-color: #F7DC6F;
}
 img{
   display:flex;
   justify-content:center;
   height: 200px;
   width: 240px;

}

.instagram{
  color:orange;
  font-size: 60px;
  border-bottom-color: orange;
}
  .what{
    color: green;
    font-size: 5vmax;
    position: fixed;
    bottom: 15px;
    display: flex;
    justify-content: flex-start;
  }
  footer{
    width:auto;
    height: 20%;
    display:flex;
    justify-content:space-around;
    align-items:baseline;
      font-size: 40px;
    }
